* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    font-family: 'Monoton', cursive;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: antiquewhite;
    text-align: center;
    line-height: 1.8em;
}

.site-title {
    font-size: 4em;
    font-family: 'Carter One', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    /* font-family: 'Monoton', cursive; */
    color: antiquewhite;
    font-size: 2em;
    margin-bottom: 1em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 240px);
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 10%;
}
